/*COLORS: ------------------

#ffa500 - orange
rgba(255,165,0,0.5) - orange with opacity 0.5
#ffdc9d - light orange (for bg)
#271900 - brown
rgba(39,25,0,0.1) - brown with opacity 0.1
#3c2f19 - semilight brown
#524632 - light brown
#ff2500 - red
#336d30 - green

COLORS END ---------------- */


/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

*::selection {
  color: #271900;
  background-color: #ffa500;
}

body {
  font-size: 2rem;
  font-family: "Inconsolata", sans-serif;
  color: #271900;
  background-color: #271900;
}

a {
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  color: #336d30;
}

 a.link:hover,
 a.link:focus {
  outline: none;
  text-decoration: none;
  color: #271900;
}

 a.link::before,
 a.link::after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
}

 a.link::before {
  content: '[';
  transform: translateX(20px);
}

 a.link::after {
  content: ']';
  transform: translateX(-20px);
}

 a.link:hover::before,
 a.link:hover::after,
 a.link:focus::before,
 a.link:focus::after {
  opacity: 1;
  transform: translateX(0px);
}

img {
  max-width: 100%;
}

.orange {
  color: #ffa500;
}

/* -------------------------------- 

Patterns - reusable parts of our design

-------------------------------- */
.cd-btn {
  display: inline-block;
  padding: 1em 2em;
  border-radius: 25px;
  border: 2px dashed #ffa500;
  color: #ffa500;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: box-shadow 0.2s;
  transition: all 0.2s ease;
}

.cd-btn:hover {
  background-color: #ffa500;
  color: #271900;
}

.cd-img-replace {
  /* replace text with image */
  color: transparent;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* -------------------------------- 

Intro page

-------------------------------- */
.cd-intro-block {
  position: relative;
  z-index: 2;
  height: 100vh;
  width: 100%;
  background-color: #271900;
  /* used to vertical align its content */
  display: table;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
  -moz-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
  transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
}
.cd-intro-block::after {
  /* arrow icon visible when .cd-intro-block slides out */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  top: 95%;
  height: 24px;
  width: 24px;
  background: url(../img/cd-arrow-back.svg) no-repeat center center;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-intro-block .content-wrapper {
  /* vertical align the .cd-intro-block content */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.cd-intro-block h1 {
  width: 90%;
  margin: 0 auto .6em;
  font-size: 2.4rem;
  color: #ebebeb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-intro-block.projects-visible {
  /* translate the .cd-intro-block element to reveal the projects slider */
  -webkit-transform: translateY(-90%);
  -moz-transform: translateY(-90%);
  -ms-transform: translateY(-90%);
  -o-transform: translateY(-90%);
  transform: translateY(-90%);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.cd-intro-block.projects-visible:after {
  /* show arrow icon */
  opacity: 1;
}
@media only screen and (min-width: 900px) {
  .cd-intro-block::after {
    top: 97.5%;
  }
  .cd-intro-block h1 {
    font-size: 4.4rem;
    font-weight: 300;
  }
  .cd-intro-block.projects-visible {
    -webkit-transform: translateY(-95%);
    -moz-transform: translateY(-95%);
    -ms-transform: translateY(-95%);
    -o-transform: translateY(-95%);
    transform: translateY(-95%);
  }
}

/* -------------------------------- 

Projects Slider

-------------------------------- */
.cd-projects-wrapper {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: #3c2f19;
  -webkit-transition: visibility 0s 0.5s;
  -moz-transition: visibility 0s 0.5s;
  transition: visibility 0s 0.5s;
}
.cd-projects-wrapper::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-projects-wrapper.projects-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
@media only screen and (min-width: 900px) {
  .cd-projects-wrapper::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

.cd-slider {
  padding-top: 10vh;
  height: 100%;
  overflow-y: auto;
}
.projects-visible .cd-slider {
  /* smooth scrolling on iOS */
  -webkit-overflow-scrolling: touch;
}
.cd-slider li {
  margin: 4%;
  opacity: 0;
  border-radius: .25em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 0s 0.5s;
  -moz-transition: opacity 0s 0.5s;
  transition: opacity 0s 0.5s;
  /* Force hardware acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-slider li.slides-in {
  -webkit-transition: opacity 0s 0s;
  -moz-transition: opacity 0s 0s;
  transition: opacity 0s 0s;
  opacity: 1;
  -webkit-animation: cd-translate 0.5s;
  -moz-animation: cd-translate 0.5s;
  animation: cd-translate 0.5s;
}
.cd-slider a {
  display: block;
  height: 100%;
  width: 100%;
}
.cd-slider img {
  display: block;
  border-radius: .25em .25em 0 0;
  width: 100%;
}
.cd-slider .project-info {
  padding: 1em 1.6em;
  background-color: #ebebeb;
  border-radius: 0 0 .25em .25em;
}
.cd-slider h2 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
}
.cd-slider p {
  font-size: 1.8rem;
  opacity: 1;
  padding: .4em 0;
  /* truncate text with ellipsis if too long */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cd-slider h2, .cd-slider p {
  line-height: 1.2;
  color: #271900;
}
@media only screen and (min-width: 900px) {
  .cd-slider {
    padding: 0;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    /* Force hardware acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .cd-slider::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-slider li {
    position: relative;
    float: left;
    width: 26vw;
    margin: 0 0 0 2vw;
    top: 50%;
    -webkit-transform: translateX(400%) translateY(-50%) rotate(-10deg);
    -moz-transform: translateX(400%) translateY(-50%) rotate(-10deg);
    -ms-transform: translateX(400%) translateY(-50%) rotate(-10deg);
    -o-transform: translateX(400%) translateY(-50%) rotate(-10deg);
    transform: translateX(400%) translateY(-50%) rotate(-10deg);
    -webkit-transition: opacity 0s 0.3s, -webkit-transform 0s 0.3s;
    -moz-transition: opacity 0s 0.3s, -moz-transform 0s 0.3s;
    transition: opacity 0s 0.3s, transform 0s 0.3s;
  }
  .cd-slider li:first-of-type {
    margin-left: 9vw;
  }
  .cd-slider li.slides-in {
    /* this class is used to trigger the entrance animation */
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-slider li.slides-in:first-of-type {
    /* change transition duration/delay for the entrance animation */
    -webkit-transition: -webkit-transform 0.55s 0s;
    -moz-transition: -moz-transform 0.55s 0s;
    transition: transform 0.55s 0s;
  }
  .cd-slider li.slides-in:nth-of-type(2) {
    -webkit-transition: -webkit-transform 0.53s 0.05s;
    -moz-transition: -moz-transform 0.53s 0.05s;
    transition: transform 0.53s 0.05s;
  }
  .cd-slider li.slides-in:nth-of-type(3) {
    -webkit-transition: -webkit-transform 0.5s 0.1s;
    -moz-transition: -moz-transform 0.5s 0.1s;
    transition: transform 0.5s 0.1s;
  }
  .cd-slider li.slides-in:nth-of-type(4) {
    -webkit-transition: -webkit-transform 0.48s 0.15s;
    -moz-transition: -moz-transform 0.48s 0.15s;
    transition: transform 0.48s 0.15s;
  }
  .cd-slider.next li.current {
    /* next slide animation */
    -webkit-animation: cd-slide-1 0.5s;
    -moz-animation: cd-slide-1 0.5s;
    animation: cd-slide-1 0.5s;
  }
  .cd-slider.next li.current + li {
    -webkit-animation: cd-slide-2 0.5s;
    -moz-animation: cd-slide-2 0.5s;
    animation: cd-slide-2 0.5s;
  }
  .cd-slider.next li.current + li + li {
    -webkit-animation: cd-slide-3 0.5s;
    -moz-animation: cd-slide-3 0.5s;
    animation: cd-slide-3 0.5s;
  }
  .cd-slider.next li.current + li + li + li + li {
    -webkit-animation: cd-slide-4 0.5s;
    -moz-animation: cd-slide-4 0.5s;
    animation: cd-slide-4 0.5s;
  }
  .cd-slider.next li.current + li + li + li + li + li {
    -webkit-animation: cd-slide-5 0.5s;
    -moz-animation: cd-slide-5 0.5s;
    animation: cd-slide-5 0.5s;
  }
  .cd-slider.next li.current + li + li + li + li + li ~ li {
    -webkit-animation: cd-slide-6 0.5s;
    -moz-animation: cd-slide-6 0.5s;
    animation: cd-slide-6 0.5s;
  }
  .cd-slider.prev li {
    /* previous slide animation */
    -webkit-animation: cd-slide-7 0.5s;
    -moz-animation: cd-slide-7 0.5s;
    animation: cd-slide-7 0.5s;
  }
  .cd-slider.prev li.previous {
    /* previous slide animation - the previous class is used to target the slide which was visible right before the current one */
    -webkit-animation: cd-slide-1 0.5s;
    -moz-animation: cd-slide-1 0.5s;
    animation: cd-slide-1 0.5s;
  }
  .cd-slider.prev li.previous + li {
    -webkit-animation: cd-slide-2 0.5s;
    -moz-animation: cd-slide-2 0.5s;
    animation: cd-slide-2 0.5s;
  }
  .cd-slider.prev li.previous + li + li {
    -webkit-animation: cd-slide-3 0.5s;
    -moz-animation: cd-slide-3 0.5s;
    animation: cd-slide-3 0.5s;
  }
  .cd-slider.prev li.current + li {
    -webkit-animation: cd-slide-4 0.5s;
    -moz-animation: cd-slide-4 0.5s;
    animation: cd-slide-4 0.5s;
  }
  .cd-slider.prev li.current + li + li {
    -webkit-animation: cd-slide-5 0.5s;
    -moz-animation: cd-slide-5 0.5s;
    animation: cd-slide-5 0.5s;
  }
  .cd-slider.prev li.current, .cd-slider.prev li.current + li + li ~ li {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
}

@-webkit-keyframes cd-slide-1 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(-85%);
  }
}
@-moz-keyframes cd-slide-1 {
  0%, 100% {
    -moz-transform: translateY(-50%);
  }
  50% {
    -moz-transform: translateY(-50%) translateX(-85%);
  }
}
@keyframes cd-slide-1 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(-85%);
    -moz-transform: translateY(-50%) translateX(-85%);
    -ms-transform: translateY(-50%) translateX(-85%);
    -o-transform: translateY(-50%) translateX(-85%);
    transform: translateY(-50%) translateX(-85%);
  }
}
@-webkit-keyframes cd-slide-2 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(-55%);
  }
}
@-moz-keyframes cd-slide-2 {
  0%, 100% {
    -moz-transform: translateY(-50%);
  }
  50% {
    -moz-transform: translateY(-50%) translateX(-55%);
  }
}
@keyframes cd-slide-2 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(-55%);
    -moz-transform: translateY(-50%) translateX(-55%);
    -ms-transform: translateY(-50%) translateX(-55%);
    -o-transform: translateY(-50%) translateX(-55%);
    transform: translateY(-50%) translateX(-55%);
  }
}
@-webkit-keyframes cd-slide-3 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(-23%);
  }
}
@-moz-keyframes cd-slide-3 {
  0%, 100% {
    -moz-transform: translateY(-50%);
  }
  50% {
    -moz-transform: translateY(-50%) translateX(-23%);
  }
}
@keyframes cd-slide-3 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(-23%);
    -moz-transform: translateY(-50%) translateX(-23%);
    -ms-transform: translateY(-50%) translateX(-23%);
    -o-transform: translateY(-50%) translateX(-23%);
    transform: translateY(-50%) translateX(-23%);
  }
}
@-webkit-keyframes cd-slide-4 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(23%);
  }
}
@-moz-keyframes cd-slide-4 {
  0%, 100% {
    -moz-transform: translateY(-50%);
  }
  50% {
    -moz-transform: translateY(-50%) translateX(23%);
  }
}
@keyframes cd-slide-4 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(23%);
    -moz-transform: translateY(-50%) translateX(23%);
    -ms-transform: translateY(-50%) translateX(23%);
    -o-transform: translateY(-50%) translateX(23%);
    transform: translateY(-50%) translateX(23%);
  }
}
@-webkit-keyframes cd-slide-5 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(55%);
  }
}
@-moz-keyframes cd-slide-5 {
  0%, 100% {
    -moz-transform: translateY(-50%);
  }
  50% {
    -moz-transform: translateY(-50%) translateX(55%);
  }
}
@keyframes cd-slide-5 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(55%);
    -moz-transform: translateY(-50%) translateX(55%);
    -ms-transform: translateY(-50%) translateX(55%);
    -o-transform: translateY(-50%) translateX(55%);
    transform: translateY(-50%) translateX(55%);
  }
}
@-webkit-keyframes cd-slide-6 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(65%);
  }
}
@-moz-keyframes cd-slide-6 {
  0%, 100% {
    -moz-transform: translateY(-50%);
  }
  50% {
    -moz-transform: translateY(-50%) translateX(65%);
  }
}
@keyframes cd-slide-6 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(65%);
    -moz-transform: translateY(-50%) translateX(65%);
    -ms-transform: translateY(-50%) translateX(65%);
    -o-transform: translateY(-50%) translateX(65%);
    transform: translateY(-50%) translateX(65%);
  }
}
@-webkit-keyframes cd-slide-7 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(-95%);
  }
}
@-moz-keyframes cd-slide-7 {
  0%, 100% {
    -moz-transform: translateY(-50%);
  }
  50% {
    -moz-transform: translateY(-50%) translateX(-95%);
  }
}
@keyframes cd-slide-7 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-50%) translateX(-95%);
    -moz-transform: translateY(-50%) translateX(-95%);
    -ms-transform: translateY(-50%) translateX(-95%);
    -o-transform: translateY(-50%) translateX(-95%);
    transform: translateY(-50%) translateX(-95%);
  }
}
/* -------------------------------- 

Project slider navigation

-------------------------------- */
.cd-slider-navigation {
  display: none;
}
.cd-slider-navigation a {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  height: 60px;
  width: 4%;
  background: url(../img/cd-arrow.svg) no-repeat center center;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0s;
}
.cd-slider-navigation a.next {
  right: 0;
  left: auto;
}
.cd-slider-navigation a.prev {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.cd-slider-navigation a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 900px) {
  .cd-slider-navigation {
    display: block;
  }
}

/* -------------------------------- 

Project content panel 

-------------------------------- */
.cd-project-content {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: #ffdc9d;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0.4s;
  -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0.4s;
  transition: transform 0.4s 0s, visibility 0s 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
  -moz-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
  transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
}
.cd-project-content > div {
  height: 100%;
  overflow-y: auto;
  padding: 4em 2em;
}
.cd-project-content > div > * {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.cd-project-content.is-visible {
  visibility: visible;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0s;
  transition: transform 0.4s 0s, visibility 0s 0s;
  -webkit-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
  -moz-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
  transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
}
.cd-project-content.is-visible > div {
  /* smooth scrolling on iOS */
  -webkit-overflow-scrolling: touch;
}
.cd-project-content h2 {
  font-size: 3.3rem;
  font-weight: bold;
  text-align: center;
}
.cd-project-content em {
  display: block;
  font-size: 1.8rem;
  font-style: italic;
  margin: 1em auto;
}
.cd-project-content ul {
  list-style-type: none;
  display: block;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin: 1em auto;
  
}
.cd-project-content ul li {
  display: block;
  background-color: rgba(39,25,0,0.1);
  font-weight: bold;
  color: #271900;
  font-size: 1.8rem;
  margin: 0.4em;
  padding: 0 0.4em;
}
.cd-project-content ul li span {
  font-weight: normal;
  color: #524632;
}

.cd-project-content p {
  margin-bottom: 1em;
  font-size: 1.4rem;
  color: #271900;
}
.cd-project-content em, .cd-project-content p, .cd-project-content ul, .cd-project-content ul li {
  line-height: 1.6;
}
.cd-project-content .close {
  display: block;
  height: 32px;
  width: 32px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: url(../img/cd-close-dark.svg) no-repeat center center;
}
@media only screen and (min-width: 900px) {
  .cd-project-content h2 {
    font-size: 6rem;
  }
  .cd-project-content em {
    font-size: 2.4rem;
  }

  .cd-project-content ul {
  text-align: center;
  font-size: 2.4rem;
}
.cd-project-content ul li {
  display: inline-block;
  font-size: 2.4rem;
}

  .cd-project-content p {
    font-size: 1.8rem;
  }
  .cd-project-content .close {
    bottom: 30px;
    right: 5%;
  }
}

/* -------------------------------- 

Keyframes

-------------------------------- */
@-webkit-keyframes cd-translate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes cd-translate {
  0% {
    opacity: 0;
    -moz-transform: translateY(100px);
  }
  100% {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes cd-translate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}




/*MacBook MOCKUP ------------------------------------------------------- */

/*
  Responsive CSS MacBook Retina Mockup
*/

.css-mb {
  max-width: 800px; /* Set the desired maximum width of the macbook */
  min-width: 50px; /* Set the desired minimum width of the macbook */
  margin: 0 auto; /* Align mockup to center */
  margin-bottom: 2em;
}

.css-mb div {
  box-sizing: border-box !important; /* Just in case */
}

/* Center the display */
.css-mb .mb-display-position {
  width: 80%;
  margin: 0 auto;
}

/* The display */
.css-mb .mb-display {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 65.9442%;
  background: #373435;
  
  -webkit-border-top-left-radius:  3.5% 5.3075%;
      -moz-border-radius-topleft:  3.5% 5.3075%;
          border-top-left-radius:  3.5% 5.3075%;
  
  -webkit-border-top-right-radius: 3.5% 5.3075%;
      -moz-border-radius-toptight: 3.5% 5.3075%;
          border-top-right-radius: 3.5% 5.3075%;
}

/* Webcam */
/* Browser may not render a perfect circle */
.css-mb .mb-display:before {
  content: '';
  display: block;
  position: absolute;
  top: 3%;
  left: 50%;
  width: 1%;
  height: 1.5164%;
  margin-left: -0.5%;
  border-radius: 50%;
  background: #525252;
}

/* Glare */
/* Browser may not render the top and right offset evenly */
.css-mb .mb-display:after {
  content: '';
  display: none;
  position: absolute;
  right: 0.4%;
  top: 0.64%; 
  width: 62.5%;
  height: 100%;
  
  background: none; /* Hide the gradient on older browsers */
  background:    -moz-linear-gradient(55deg, rgba(0,0,0,0) 61%, rgba(255,255,255,0.05) 61%); /* FF3.6+ */
  background: -webkit-linear-gradient(36deg, rgba(0,0,0,0) 61%, rgba(255,255,255,0.05) 61%); /* Chrome10+ and Safari5.1+ compute the degree differently */
  background:      -o-linear-gradient(55deg, rgba(0,0,0,0) 61%, rgba(255,255,255,0.05) 61%); /* Opera 11.10+ */
  background:     -ms-linear-gradient(55deg, rgba(0,0,0,0) 61%, rgba(255,255,255,0.05) 61%); /* IE10+ */
  background:         linear-gradient(55deg, rgba(0,0,0,0) 61%, rgba(255,255,255,0.05) 61%);
  
  -webkit-border-top-right-radius: 5.3075%;
      -moz-border-radius-toptight: 5.3075%;
          border-top-right-radius: 5.3075%;
}

/* Only show glare, if the class is applied */
.css-mb.with-glare .mb-display:after { display: block; }

/* Position the screen and give make it the right size, ratio 16:10 */
.css-mb .mb-screen-position {
  position: absolute;
  top: 6.5%;
  width: 93.2%;
  left: 3.4%;
  height: 0;
  margin: 0;
  padding-bottom: 58.25%; /* Ratio */
}

/* Give parent (this element) a "height", so that child elements can use height: 100%;*/
.css-mb .mb-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #4b4b4d; /* bg color if content is not big enough, or rendering is off */
}

/* Image on the screen */
.css-mb .mb-screen img {
  max-width: 100%;
  height: auto;
}

/* Iframe on the screen */
.css-mb .mb-screen iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* Macbook body */
.css-mb .mb-body {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 2.3%;
  background: #e6e7e8;
}

/* The groove */
.css-mb .mb-body:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 14.0740%;
  height: 0;
  padding-bottom: 1.4814%;
  margin-left: -7.037%;
  background: #a9abae;
  
  -webkit-border-bottom-left-radius:  7.0370% 50%;
      -moz-border-radius-bottomleft:  7.0370% 50%;
          border-bottom-left-radius:  7.0370% 50%;
  
  -webkit-border-bottom-right-radius: 7.0370% 50%;
      -moz-border-radius-bottomtight: 7.0370% 50%;
          border-bottom-right-radius: 7.0370% 50%;  
}

/* Macbook bottom */
.css-mb .mb-bottom-cover {
  width: 100%;
  height: 0;
  padding-bottom: 0.7407%;
  background: #a9abae;
  
  -webkit-border-bottom-left-radius:  12% 600%;
      -moz-border-radius-bottomleft:  12% 600%;
          border-bottom-left-radius:  12% 600%;
  
  -webkit-border-bottom-right-radius: 12% 600%;
      -moz-border-radius-bottomtight: 12% 600%;
          border-bottom-right-radius: 12% 600%; 
}

/*MacBook MOCKUP END --------------------------------------------------- */

